p{
margin:0;
padding:0;
}
#boxa1{position:absolute;width:50px;height:50px;line-height:50px;  background-color:#eeffcc; z-index:80;left:30px;top:50px;display:none;border-radius:25px;text-align:center;font-size:24px;font-family:Tahoma;font-weight:bold;}
#boxa2{position:absolute;width:60px;height:60px; background-color:#eeff22; z-index:80;left:30px;top:400px;display:none;}
#boxa3{position:absolute;width:50px;height:50x; line-height:50px;background-color:#eeff88; z-index:80;left:300px;top:400px;display:none;border-radius:25px;text-align:center;font-size:24px;font-family:Tahoma;font-weight:bold; }
#boxa4{position:absolute;width:60px;height:60px; background-color:#eeff11; z-index:80;left:300px;top:50px}
#box{position:absolute;width:48px;height:48px; background:url(ghost_red.gif) no-repeat; z-index:100;left:30px;top:50px;display:none;
-webkit-animation:trusi .2s linear infinite;transform:rotate(0deg);
transform-origin:50% 50%;}
#noise{
position:relative;
top:0;
left:0;
width:100%;
height:100%;
background:url(noise2.gif) repeat;
opacity:.5;
}
#bg{
position:absolute;
width:682px;
height:655px;
background:url(bg.jpg) no-repeat;
}
@-webkit-keyframes trusi{
from{
transform:rotate(-20deg);
}
to{
transform:rotate(20deg);
}
}
